BOT__PASSWORD={{ status_bot_config_password | mandatory }}
BOT__MNEMONIC_PHRASE={{ status_bot_config_passphrase | mandatory }}
BOT__INFURA_TOKEN={{ status_bot_config_infura_key | mandatory }}
BOT__COINGECKO_API_KEY={{ status_bot_config_coingecko_api_key | mandatory }}
BOT__CHAT_KEY={{ status_bot_config_compressed_key }}
BOT__BOT_HASH_PEPPER={{ status_bot_config_hash_pepper | mandatory }}

{% if status_bot_app_api_enabled %}
API__API_KEY={{ status_bot_app_api_key | mandatory }}
{% endif %}

# Database
DATABASE__USER={{ status_bot_db_admin_user }}
DATABASE__PASSWORD={{ status_bot_db_admin_pass }}
DATABASE__NAME={{ status_bot_db_name }}
DATABASE__HOST={{ status_bot_db_cont_name }}
DATABASE__PORT={{ status_bot_db_cont_port }}
DATABASE__SCHEMA={{ status_bot_db_schema }}
